
#**DHA Suffa University**
##**Department of Computer Science**
##**CS 31002L – Artificial Intelligence Lab**
##**Spring 2023**


---


##***Lab 01-Introduction to Python Basics***


---
###**Learning Objectives:**

*   To learn and Implement Python Basics

###**Introduction to Python**



*   Created in 1991 by Guido van Rossum, it's been rising in popularity
*   All you need is to install the official package from python.org, for Windows, macOS or Linux, and you're ready to go.
*   Python is an interpreted language that does not have an intermediate compilation phase like a compiled language, for example C or Java.
*   Python excels in a wide variety of scenarios – Shell scripting, task automation, and Web development are just some basic examples.
*   Python is the language of choice for data analysis and machine learning, but it can also adapt to create games and work with embedded devices.
*   And like many interpreted languages, it is dynamically typed. This means that you do not have to indicate the types of the variables you use, and variables are not tied to a specific type.
*   Python supports a wide variety of different programming paradigms, including procedural programming, object oriented programming, and functional programming. It's flexible enough to adapt to a lot of different needs.

###**Python Basics**
####**Variables in Python**
We can create a new Python variable by assigning a value to a label, using the = assignment operator.

In this example we assign a string with the value "Roger" to the name label:

In [ ]:
name = "Roger"
age = 8
print(name)
print(age)

Roger
8

##**Expressions and statements in Python**


We can expression any sort of code that returns a value. For example

In [ ]:
1 + 1
"Roger"

A statement, on the other hand, is an operation on a value. For example these are 2 statements:

In [ ]:
name = "Roger"
print(name)

##**Comments**

In a Python program, everything after a hash mark is ignored, and considered a comment:

In [ ]:
#this is a commented line

name = "Roger" # this is an inline comment

##**Indentation in Python**

Indentation in Python is meaningful.

You cannot indent randomly like this:

In [ ]:
name = "Flavio"
   print(name)

Some other languages do not have meaningful whitespace, but in Python, indentation matters.

In this case, if you try to run this program you would get a IndentationError: unexpected indent error, because indenting has a special meaning.

##**Data Types in Python**

Python has several built-in types.

If you create the name variable assigning it the value "Roger", automatically this variable now represents a String data type.

In [ ]:
name = "Roger"

You can check the type of a variable by using the type() function, passing the variable as an argument, and then comparing the result to str:

In [ ]:
name = "Roger"
type(name) == str #True

Or using isinstance():

In [ ]:
name = "Roger"
isinstance(name, str) #True

First, we have numbers. Integer numbers are represented using the int class. Floating point numbers (fractions) are of type float:

In [ ]:
age = 1
type(age) == int #True

In [ ]:
fraction = 0.1
type(fraction) == float #True

You can also convert from one type to another by using the class constructor. Python will try to determine the correct value, for example extracting a number from a string:

In [ ]:
age = int("20")
print(age)

This is called casting. Of course this conversion might not always work depending on the value passed. If you write test instead of 20 in the above string, you'll get a ValueError: invalid literal for int() with base 10: 'test' error.

Those are just the basics of types. We have a lot more types in Python:

*   complex for complex numbers
*   bool for booleans
*   list for lists
*   tuple for tuples
*   range for ranges
*   dict for dictionaries
*   set for sets
and more!

##**Operators in Python**

Python operators are symbols that we use to run operations upon values and variables.

We can divide operators based on the kind of operation they perform:
*  assignment operator
*  arithmetic operators
*  comparison operators
*  logical operators
*  bitwise operators
plus some interesting ones like is and in.

##**Assignment operator in Python**

The assignment operator is used to assign a value to a variable:

In [ ]:
age = 8
anotherVariable = age

## **Arithmetic operators in Python**

Python has a number of arithmetic operators: +, -, *, / (division), % (remainder), ** (exponentiation) and // (floor division):

In [ ]:
1 + 1 #2
2 - 1 #1
2 * 2 #4
4 / 2 #2
4 % 3 #1
4 ** 2 #16
4 // 2 #2

 (-) also works as a unary minus operator:

In [ ]:
print(-4) #-4

(+) is also used to concatenate String values:

In [ ]:
"Roger" + " is a good dog"
#Roger is a good dog

We can combine the assignment operator with arithmetic operators:

- +=
- -=
- *=
- /=
- %=

In [ ]:
age = 8
age += 1
# age is now 9

## **Comparison operators in Python**

Python defines a few comparison operators:

- ==
- !=
- <
- <=

You can use those operators to get a boolean value (True or False) depending on the result:

In [ ]:
a = 1
b = 2

a == b #False
a != b #True
a > b #False
a <= b #True

## **Boolean operators in Python**

Python gives us the following boolean operators:

In [ ]:
condition1 = True
condition2 = False

not condition1 #False
condition1 and condition2 #False
condition1 or condition2 #True

## **Bitwise operators in Python**

Some operators are used to work on bits and binary numbers:

- & performs binary AND
- | performs binary OR
- ^ performs a binary XOR operation
- ~ performs a binary NOT operation
- << shift left operation

Bitwise operators are rarely used, only in very specific situations, but they are worth mentioning.

##**'is' and 'in' in Python**

is is called the identity operator. It is used to compare two objects and returns true if both are the same object. More on objects later.

in is called the membership operator. Is used to tell if a value is contained in a list, or another sequence. More on lists and other sequences later.

## **The Ternary Operator in Python**
The ternary operator in Python allows you to quickly define a conditional.

Let's say you have a function that compares an age variable to the 18 value, and returns True or False depending on the result.

Instead of writing:

In [ ]:
def is_adult(age):
    if age > 18:
        return True
    else:
        return False

You can implement it with the ternary operator in this way:

In [ ]:
def is_adult(age):
    return True if age > 18 else False

## **Strings in Python**
A string in Python is a series of characters enclosed in quotes or double quotes:

In [ ]:
"Roger"
'Roger'

You can concatenate two strings using the + operator:

In [ ]:
phrase = "Roger" + " is a good dog"

You can append to a string using +=:

In [ ]:
name = "Roger"
name += " is a good dog"

print(name) #Roger is a good dog

You can convert a number to a string using the str class constructor:

In [ ]:
print("Roger is " + str(8) + " years old") #Roger is 8 years old

A string can be multi-line when defined with a special syntax, enclosing the string in a set of 3 quotes:

In [ ]:
print("""Roger is

    8

years old
""")

#double quotes, or single quotes

print('''
Roger is

    8

years old
''')

A string has a set of built-in methods, like:

* isalpha() to check if a string contains only characters and is not empty
* isalnum() to check if a string contains characters or digits and is not empty
* isdecimal() to check if a string contains digits and is not empty
* lower() to get a lowercase version of a string
* islower() to check if a string is lowercase
* upper() to get an uppercase version of a string
* isupper() to check if a string is uppercase
* title() to get a capitalized version of a string
* startsswith() to check if the string starts with a specific substring
* endswith() to check if the string ends with a specific substring
* replace() to replace a part of a string
* split() to split a string on a specific character separator
* strip() to trim the whitespace from a string
* join() to append new letters to a string
* find() to find the position of a substring
and many more.

In [ ]:
name = "Roger"
print(name.lower()) #"roger"
print(name) #"Roger"

In [ ]:
name = "Roger"
print(len(name)) #5

The in operator lets you check if a string contains a substring:

In [ ]:
name = "Roger"
print("ger" in name) #True

Given a string, you can get its characters using square brackets to get a specific item, given its index, starting from 0:

In [ ]:
name = "Roger"
name[0] #'R'
name[1] #'o'
name[2] #'g'

You can also use a range, using what we call slicing:

In [ ]:
name = "Roger"
name[0:2] #"Ro"
name[:2] #"Ro"
name[2:] #"ger"

## **Booleans in Python**
Python provides the bool type, which can have two values: True and False (capitalized).

In [ ]:
done = True

if done:
    print("Hello")

Hello

The global any() function is also very useful when working with booleans, as it returns True if any of the values of the iterable (list, for example) passed as argument are True:

In [ ]:
book_1_read = True
book_2_read = False

read_any_book = any([book_1_read, book_2_read])

The global all() function is same, but returns True if all of the values passed to it are True:

In [ ]:
ingredients_purchased = True
meal_cooked = False

ready_to_serve = all([ingredients_purchased, meal_cooked])

## **Complex numbers in Python**
Complex numbers are of type complex.

You can define them using a value literal:

In [ ]:
complexNumber = 2+3j

or using the complex() constructor:

In [ ]:
complexNumber = complex(2, 3)

Once you have a complex number, you can get its real and imaginary part:

In [ ]:
complexNumber.real #2.0
complexNumber.imag #3.0

## **Built-in Functions in Python**
There are 2 built-in functions that help with numbers:

abs() returns the absolute value of a number.

round() given a number, returns its value rounded to the nearest integer.
You can specify a second parameter to set the decimal point's precision.

In [ ]:
round(0.12, 1) #0.1

Several other math utility functions and constants are provided by the Python standard library:

* the math package provides general math functions and constants
* the cmath package provides utilities to work with complex numbers.
* the decimal package provides utilities to work with decimals and floating point numbers.
* the fractions package provides utilities to work with rational numbers.

## **Constants in Python**
Python has no way to enforce that a variable should be a constant.

The nearest you can get is to use an enum:

In [ ]:
class Constants(Enum):
    WIDTH = 1024
    HEIGHT = 256

And get to each value using, for example, Constants.WIDTH.value.

No one can reassign that value.

## **Enums in Python**
Enums are readable names that are bound to a constant value.

To use enums, import Enum from the enum standard library module.
Then you can initialize a new enum in this way.

In [ ]:
from enum import Enum
class State(Enum):
    INACTIVE = 0
    ACTIVE = 1

Once you do so, you can reference State.INACTIVE and State.ACTIVE, and they serve as constants.

Now if you try to print State.ACTIVE for example:

In [ ]:
print(State.ACTIVE)

it will not return 1, but State.ACTIVE.

The same value can be reached by the number assigned in the enum: print(State(1)) will return State.ACTIVE. Same for using the square brackets notation State['ACTIVE'].

You can, however, get the value using State.ACTIVE.value.
You can list all the possible values of an enum:

In [ ]:
list(State) # [<State.INACTIVE: 0>, <State.ACTIVE: 1>]

You can count them:

In [ ]:
len(State) #2

## **User Input in Python**
In a Python command line application you can display information to the user using the print() function.
We can also accept input from the user, using input().

In [ ]:
print('What is your age?')
age = input()
print('Your age is ' + age)

## **Control Statements in Python**
When you're dealing with booleans, and expressions that return a boolean in particular, we can make decisions and take different roads depending on their True or False values.

In Python we do so using the if statement:

In [ ]:
condition = True

if condition == True:
    print("The condition")
    print("was True")
else:
    print("The condition")
    print("was False")

And you can have different linked if checks with elif that's executed if the previous check was False:

In [ ]:
condition = True
name = "Roger"

if condition == True:
    print("The condition")
    print("was True")
elif name == "Roger":
    print("Hello Roger")
else:
    print("The condition")
    print("was False")

## **Lists in Python**
Lists are an essential Python data structure.

The allow you to group together multiple values and reference them all with a common name.

For example:

In [ ]:
dogs = ["Roger", "Syd"]

A list can hold values of different types:

In [ ]:
items = ["Roger", 1, "Syd", True]

You can add items to the list by using a list append() method:

In [ ]:
items.append("Test")

Remove an item using the remove() method:

In [ ]:
items.remove("Test")

To add an item in the middle of a list, at a specific index, use the insert() method:

In [ ]:
items.insert("Test", 1) # add "Test" at index 1

Sort a list using the sort() method:

In [ ]:
items.sort()

## **Tuples in Python**
Tuples are another fundamental Python data structure.

They allow you to create immutable groups of objects. This means that once a tuple is created, it can't be modified. You can't add or remove items.

They are created in a way similar to lists, but using parentheses instead of square brackets:

In [ ]:
names = ("Roger", "Syd")

A tuple is ordered, like a list, so you can get its values by referencing an index value:

In [ ]:
names = ("Roger", "Syd")
names.index('Roger') # 0
names.index('Syd')   # 1

You can count the items in a tuple with the len() function.

You can check if an item is contained in a tuple with the 'in' operator.

You can create a sorted version of a tuple using the sorted() global function.

In [ ]:
sorted(names)

You can create a new tuple from existing tuples using the + operator:

In [ ]:
names = ("Roger", "Syd")
newTuple = names + ("Vanille", "Tina")

## **Dictionaries in Python**
Dictionaries are a very important Python data structure.

While lists allow you to create collections of values, dictionaries allow you to create collections of key / value pairs.

Here is a dictionary example with one key/value pair:

In [ ]:
dog = { 'name': 'Roger' }

A dictionary can contain multiple key/value pairs:

In [ ]:
dog = { 'name': 'Roger', 'age': 8 }

You can access individual key values using this notation:

In [ ]:
dog['name'] # 'Roger'
dog['age']  # 8

## **Sets in Python**
Sets are another important Python data structure.

We can say they work like tuples, but they are not ordered, and they are mutable.

Or we can say they work like dictionaries, but they don't have keys.

They also have an immutable version, called frozenset.

You can create a set using this syntax:

In [ ]:
names = {"Roger", "Syd"}

Sets work well when you think about them as mathematical sets.

You can intersect two sets and union two sets

In [ ]:
set1 = {"Roger", "Syd"}
set2 = {"Roger"}

intersect = set1 & set2 #{'Roger'}
union = set1 | set2
#{'Syd', 'Roger'}

## **Functions in Python**
A function lets us create a set of instructions that we can run when needed.

Functions are essential in Python and in many other programming languages. They help us create meaningful programs, because they allow us to decompose a program into manageable parts, and they promote readability and code reuse.

Here is an example function called hello that prints "Hello!":

In [ ]:
def hello():
    print('Hello!')

This is the function definition. Thereis a name (hello) and a body, the set of instructions, which is the part that follows the colon. It's indented one level on the right.

To run this function, we must call it. This is the syntax to call the function:

In [ ]:
hello()

A function can accept one or more parameters:

In [ ]:
def hello(name):
    print('Hello ' + name + '!')

hello('Roger')

An argument can have a default value that's applied if the argument is not specified:

In [ ]:
def hello(name='my friend'):
    print('Hello ' + name + '!')

hello()
#Hello my friend!

Here's how we can accept multiple parameters:

In [ ]:
def hello(name, age):
    print('Hello ' + name + ', you are ' + str(age) + ' years old!')

hello('Roger', 8)

## **Objects in Python**
Everything in Python is an object.

Even values of basic primitive types (integer, string, float..) are objects. Lists are objects, as are tuples, dictionaries, everything.

Objects have attributes and methods that can be accessed using the dot syntax.

For example, try defining a new variable of type int:

In [ ]:
age = 8

age now has access to the properties and methods defined for all int objects.

This includes, for example, access to the real and imaginary part of that number:

In [ ]:
print(age.real) # 8
print(age.imag) # 0

print(age.bit_length()) #4

The id() global function provided by Python lets you inspect the location in memory for a particular object.

In [ ]:
id(age) # 140170065725376

## **Loops in Python**
Loops are one essential part of programming.

In Python we have 2 kinds of loops: while loops and for loops.

# **while loops in Python**
 while loops are defined using the while keyword, and they repeat their block until the condition is evaluated as False:

In [ ]:
count = 0
while count < 10:
    print("The condition is True")
    count = count + 1

print("After the loop")

# **for loops in Python**
Using for loops we can tell Python to execute a block for a pre-determined amount of times, up front, and without the need of a separate variable and conditional to check its value.

For example we can iterate the items in a list:

In [ ]:
items = [1, 2, 3, 4]
for item in items:
    print(item)

## **Break and continue in Python**
Both while and for loops can be interrupted inside the block, using two special keywords: break and continue.

continue stops the current iteration and tells Python to execute the next one.

break stops the loop altogether, and goes on with the next instruction after the loop ends.

The first example here prints 1, 3, 4. The second example prints 1:

In [ ]:
items = [1, 2, 3, 4]
for item in items:
    if item == 2:
        continue
    print(item)

In [ ]:
items = [1, 2, 3, 4]
for item in items:
    if item == 2:
        break
    print(item)

## **Classes in Python**
In addition to using the Python-provided types, we can declare our own classes, and from classes we can instantiate objects.

An object is an instance of a class. A class is the type of an object.

We can define a class in this way

In [ ]:
class <class_name>:
    # my class

A class can define methods:

In [ ]:
 class Dog:
    # the Dog class
    def bark(self):
        print('WOF!')

***self*** as the argument of the method points to the current object instance, and must be specified when defining a method.

We create an instance of a class, an object, using this syntax:

In [ ]:
roger = Dog()

Now roger is a new object of type Dog.

If you run

In [ ]:
print(type(roger))

You will get <class '__main__.Dog'>

A special type of method, __init__() is called constructor, and we can use it to initialize one or more properties when we create a new object from that class:

In [ ]:
class Dog:
    # the Dog class
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def bark(self):
        print('WOF!')

We use it in this way

In [ ]:
roger = Dog('Roger', 8)
print(roger.name) # 'Roger'
print(roger.age)  # 8

roger.bark() # 'WOF!'

One important feature of classes is inheritance.

We can create an Animal class with a method walk():

In [ ]:
class Animal:
    def walk(self):
        print('Walking..')

and the Dog class can inherit from Animal:

In [ ]:
class Dog(Animal):
    def bark(self):
        print('WOF!')

Now creating a new object of class Dog will have the walk() method as that's inherited from Animal:

In [ ]:
roger = Dog()
roger.walk() # 'Walking..'
roger.bark() # 'WOF!'

## **Lab Task:**

1. You are required to implement all the examples mentioned in the lab manual.
2. Python Program that generate a set of prime numbers and another set of even numbers. Demonstrate the result of union, intersection, difference and symmetirc difference operations implement using classes.

## **Lab Assignment:**
Q1) Write a program to achieve the following output?

![1.PNG]()

Q2) Create the following tree and print inorder, postorder and preorder traversal?

![2.PNG]()

Note: Use of class and objects is compulsory for every assignment question.

## **Submission Guidelines**

1. Submit a pdf having the screenshots of your source code and output properly labeled with your roll number.

2. Upload it on lms.