In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score,accuracy_score,classification_report

In [2]:
data = pd.read_excel('loan-data.xlsx')

In [3]:
data = data.drop(columns=['Unnamed: 0','id','member_id','zip_code','addr_state','last_credit_pull_d','next_pymnt_d','last_pymnt_d','earliest_cr_line','issue_d','funded_amnt_inv','dti','delinq_2yrs','inq_last_6mths','mths_since_last_delinq','open_acc','pub_rec','revol_bal','revol_util','total_acc','total_pymnt_inv','loan_status','purpose'])

In [5]:
data.head(2)

,loan_amnt,funded_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt,repay_fail
0,0.0,0.0,36 months,0.00,0.00,< 1 year,RENT,0.0,Not Verified,0.000000,0.0,0.00,0.00,1
1,2500.0,2500.0,36 months,13.98,85.42,4 years,RENT,20004.0,Not Verified,3075.291779,2500.0,575.29,90.85,0

In [7]:
data.dropna(inplace= True)

In [8]:
data.isna().sum()

loan_amnt              0
funded_amnt            0
term                   0
int_rate               0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
total_pymnt            0
total_rec_prncp        0
total_rec_int          0
last_pymnt_amnt        0
repay_fail             0
dtype: int64

In [9]:
data.term = data.term.str.split('').str[:-1].str.join('')

In [10]:
data.term = data.term.str.replace(",","").str.replace("months","").astype('int64')

In [11]:
data.emp_length.str.split('').str[:-1].str.join('')

0         < 1 year
1          4 years
2          4 years
3        10+ years
4        10+ years
           ...
38475      3 years
38476      9 years
38477    10+ years
38478       1 year
38479      7 years
Name: emp_length, Length: 37485, dtype: object

In [12]:
 data.emp_length=data.emp_length.str.replace('<','').str.replace('+','').str.replace('year','').str.replace('s','').astype('int')

In [13]:
data.emp_length

0         1
1         4
2         4
3        10
4        10
         ..
38475     3
38476     9
38477    10
38478     1
38479     7
Name: emp_length, Length: 37485, dtype: int32

In [32]:
data['home_ownership']=data['home_ownership'].apply(lambda x: 'OTHER' if x=='NONE' else x)
data.home_ownership.value_counts()

1        20633
0        16723
OTHER      129
Name: home_ownership, dtype: int64

In [24]:
verification_status_mapping = {
    'Not Verified': 0,
    'Verified': 1,
    'Source Verified': 1
    
}

data['verification_status'] = data['verification_status'].replace(verification_status_mapping)

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [25]:
X=data.drop(columns='repay_fail')
y = data['repay_fail']

In [26]:
X

,loan_amnt,funded_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,total_pymnt,total_rec_prncp,total_rec_int,last_pymnt_amnt
0,0.0,0.0,36,0.00,0.00,1,1,0.0,0,0.000000,0.00,0.00,0.00
1,2500.0,2500.0,36,13.98,85.42,4,1,20004.0,0,3075.291779,2500.00,575.29,90.85
2,5000.0,5000.0,36,15.95,175.67,4,1,59000.0,0,2948.760000,1909.02,873.81,175.67
3,7000.0,7000.0,36,9.91,225.58,10,0,53796.0,0,8082.391880,7000.00,1082.39,1550.27
4,2000.0,2000.0,36,5.42,60.32,10,1,30000.0,0,2161.663244,2000.00,161.66,53.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.0,3000.0,36,11.99,99.63,3,1,74250.0,1,3586.619764,3000.00,586.62,100.30
38476,10400.0,10400.0,36,13.49,352.88,9,1,62000.0,1,12703.534030,10400.00,2303.53,393.08
38477,16000.0,10550.0,60,14.96,250.77,10,0,95088.0,1,14202.267530,10550.00,3652.27,5439.96
38478,10000.0,10000.0,36,16.89,355.99,1,1,48720.0,0,12815.178320,10000.00,2815.18,380.63
38479,3200.0,3200.0,36,13.49,108.58,7,1,38400.0,1,3908.767275,3200.00,708.77,111.88

In [27]:
data.home_ownership.value_counts()

1        20633
0        16723
OTHER      129
Name: home_ownership, dtype: int64

In [28]:
y

0        1
1        0
2        1
3        0
4        0
        ..
38475    0
38476    0
38477    0
38478    0
38479    0
Name: repay_fail, Length: 37485, dtype: int64

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=0)

In [30]:
log_reg = LogisticRegression()

In [31]:
log_reg.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: 'OTHER'