In [1]:
print("Text")

Text

In [2]:
print(123)

123

In [9]:
print("Hello Python", 123, 34.5, False,sep="---",end="\n\n\n\n\n")
print("Another line in printing")

Hello Python---123---34.5---False




Another line in printing

Values: Data >Datatype >text numeric boolean
    
    text >> string >str
    numeric >> whole numbers   Decimals
                 integers         floting value
                   int               float
    Boolean    > True False

In [10]:
type("Pakistan")

str

In [11]:
type(123)

int

In [12]:
type(True)

bool

In [13]:
type(23.6)

float

In [14]:
id(12)

140732829049584

In [16]:
ord("A")

65

In [17]:
chr(78)

'N'

In [18]:
len("Pakistan")

8

# String

In [19]:
country  = "United States"

In [20]:
type(country)

str

In [21]:
country.count('ed')

1

In [22]:
country.count('te')

2

In [24]:
country.find('e',5)

11

In [26]:
"country".isalpha()

True

In [28]:
"country".isidentifier()

True

In [29]:
del country

In [31]:
city = "Karachi"

In [34]:
city.isidentifier()

True

In [35]:
text = "Hello we are all pythoneers."

In [37]:
splitted = text.split(' ')

In [38]:
' '.join(splitted)

'Hello we are all pythoneers.'

In [39]:
text

'Hello we are all pythoneers.'

In [40]:
text.replace('pythoneers','PYTHONEERS')

'Hello we are all PYTHONEERS.'

In [41]:
text

'Hello we are all pythoneers.'

In [42]:
name  = " nasirhussain "

In [43]:
name=='nasirhussain'

False

In [44]:
print(name)

 nasirhussain

In [45]:
name.lstrip()

'nasirhussain '

In [46]:
name.rstrip()

' nasirhussain'

In [47]:
name.strip()

'nasirhussain'

In [48]:
name.index('ss')

8

In [49]:
name.index("SS")

ValueError: substring not found

In [50]:
name.find("SS")

-1

In [51]:
name  = "Nasir Hussain"
age  = 20

Hello myself is Nasir Hussain. I am 20 years old.

# String concatenation
Type Casting 
String formation

In [54]:
"Hello myself is "+ name +". I am "+str(age) +" years old."

'Hello myself is Nasir Hussain. I am 20 years old.'

In [55]:
float(123)

123.0

In [56]:
int(23.5)

23

In [57]:
"345".isnumeric()

True

In [58]:
int("345")

345

In [59]:
float("345")

345.0

In [62]:
int(float("345.0"))

345

#### string formation

In [66]:
"Hello myself is {}. I am {} years old.".format(name,age)

'Hello myself is Nasir Hussain. I am 20 years old.'

In [67]:
f"Hello myself is {name}. I am {age} years old."

'Hello myself is Nasir Hussain. I am 20 years old.'

# String declaration: 
single quaotes  ''

double quaotes  "  "

treipple singleequaotes'''  '''  

tripple double """  """

In [68]:
print('Hello World')
print("Hello World")
print('''Hello World''')
print("""Hello World""")

Hello World
Hello World
Hello World
Hello World

We are all learning "Python and Data Science".

In [71]:
print("We are all learning 'Python and Data Science'")

We are all learning 'Python and Data Science'

In [72]:
print('We are all learning "Python and Data Science"')

We are all learning "Python and Data Science"

In [73]:
print("We are all learning \"Python and Data Science\"")

We are all learning "Python and Data Science"

In [75]:
print("Hello \n Python")

Hello
 Python

      High Impact Skills Bootcamp
      
  name : Nasir Husain
  course:  Data Science and AI
  Venue: Sir Syed Uni of Eng & Tech
  Time:  9:5
  
  Note: if found please returnd to SSUET

# user input

In [77]:
name  = input("Please enter your name: ")
course = input("Enter your course: ")
venue = input("Enter venue: ")
time= input("Enter timings: ")


print(f"""
                High Impact Skills Bootcamp
                ___________________________
                
        name: {name}
        course: {course}
        venue: {venue}
        time: {time}
        
        
        Note: Note: if found please returnd to SSUET""")

Please enter your name: Sanaullah
Enter your course: Python
Enter venue: SSUET
Enter timings: 9:5

                High Impact Skills Bootcamp
                ___________________________

        name: Sanaullah
        course: Python
        venue: SSUET
        time: 9:5


        Note: Note: if found please returnd to SSUET

# Operators:
   - + 
   - - 
   - * 
   - / or //
   - **
   - %
   - >
   - <
   - >=
   - <=
   - = 
   - ==
   - !=
   - in 
   - not in
   - and 
   - or

In [79]:
23 + 5

28

In [80]:
34-5

29

In [81]:
23 *5

115

In [82]:
12 / 4

3.0

In [83]:
12 //4

3

In [84]:
20 /6

3.3333333333333335

In [85]:
20 // 6

3

In [86]:
2**4

16

In [87]:
10%4

2

In [88]:
12 > 4

True

In [89]:
12 <4

False

In [90]:
12>=4

True

In [91]:
12<=12

True

In [92]:
12==12

True

In [93]:
12 != 12

False

In [94]:
"k" in "Pakistan"

True

In [95]:
"K" not in "Pakistan"

True

In [96]:
var = ""

In [97]:
type(var)

str

In [98]:
len(var)

0

In [99]:
bool(var)

False

In [100]:
var = 123

In [101]:
bool(var)

True

In [102]:
a = 100 
b =a

In [103]:
a is b

True

In [104]:
c = 100

In [105]:
a is c

True

In [106]:
b is c

True

In [107]:
id(a)

140732829052400

In [108]:
id(b)

140732829052400

In [109]:
id(c)

140732829052400

In [111]:
2<3 and 5**2  in [1,3,4,25]

True

In [112]:
a = 100

In [116]:
# a  = a +1 
a +=1
a

104